<div class="container mt-5 py-5">
    <div class="card">
        <h4 class="card-header text-center"><strong>Liste de dîplomes</strong></h4>
        <div class="card-body">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/diplomesAdmin/formCreateDiplome']"> <i class="fas fa-file" aria-hidden="true"></i>
      Créer Dîplome
    </button>
            <hr>
            <div *ngIf="listDiplomes?.length == 0" class="alert alert-info">
                <p class="text-center display-1"> Pas de registre dans la bases de données !</p>
            </div>
            <table class="table table-hover" *ngIf="listDiplomes?.length > 0">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="text-center">Id</th>
                        <th scope="col" class="text-center">Nom</th>
                        <th scope="col" class="text-center">Description</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listDiplomes">
                        <th scope="row">{{ item.id }}</th>
                        <td>{{ item.nomDiplome }}</td>
                        <td>{{ item.description }}</td>
                        <td>
                            <button class="btn btn-sm btn-outline-success" name="madifier" [routerLink]="['/diplomesAdmin/formCreateDiplome', item.id]"><i class="far fa-edit"></i></button>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-outline-danger" name="eliminer" (click)='delete(item)'>
              <i class="far fa-trash-alt"></i>
            </button>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>
<!-- /container -->
